.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	overflow-y: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #000000;
	transition: 0.5s;
}

.overlay-content,
.overlay-contentMain {
	margin-top: 10%;
	margin-left: 20%;
}

.sidebarMenuContainer:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}
.sidebarMenuContainer {
	background-color: #f4f4f4;
	cursor: pointer;
}
.openIcon {
	margin-top: 20px !important;
}
.sidebarHover:hover {
	background: #f4f4f4;
	cursor: pointer;
}
