body {
	background-color: #f2f2f2 !important;
	font-family: 'Inter' !important;

}
.logout {
	cursor: pointer;
	margin-right: 16px !important;
}
.remiderBadge {
	cursor: pointer;
}

#tooltip_remider > .tooltip-inner {
	max-width: 100%;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
}
input[type='checkbox'] {
	margin-top: 6px;
}
a {
	cursor: pointer;
}

.goBack_class {
	cursor: pointer;
	color: #474747;
}
.partners_application {
	background-color: #f4f4f4;
	margin-top: 28px;
}

/* ------------------------------------- Media for navbar--------------------------- */
.navBarSmall {
	display: none;
}
@media only screen and (max-width: 992px) {
	.navBarLarge {
		display: none;
	}
	.navBarSmall {
		display: inline;
	}
	.overlay-content {
		margin-top: 12%;
		margin-left: 20%;
	}
	.overlay-contentMain {
		margin-top: 5%;
		margin-left: 20%;
	}
}

@media only screen and (max-width: 416px) {
	.overlay-content {
		margin-top: 28%;
		margin-left: 24px;
	}
	.overlay-contentMain {
		margin-top: 6%;
		margin-left: 24px;
	}
}

.iconBg_reminder {
	width: 60px;
	height: 60px;
	background-color: #efedfb;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
}
.iconBg_all {
	width: 60px;
	height: 60px;
	background-color: #f1fafa;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
}
.iconBg_newReq {
	width: 60px;
	height: 60px;
	background-color: #e6ecfa;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
}
.iconBg_inprocess {
	width: 60px;
	height: 60px;
	background-color: #fef9e8;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
}

.iconBg_approved {
	width: 60px;
	height: 60px;
	background-color: #e9f6ed;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
}
.iconBg_rejected {
	width: 60px;
	height: 60px;
	background-color: #fbe9ea;
	border-radius: 50%;
	display: inline-block;
	padding: 20px;
}

.textVerification {
	margin-top: 40px !important;
	margin-bottom: 20px !important;
}
.goBackIcon {
	position: relative;
	top: 2px;
}

.spinner-border {
	margin-left: 10px !important;
	color: #003c88;
}

/* ------------------------------------- Settings passs------------------------- */

.setting_container_changepass {
	margin-left: -12px;
	margin-bottom: 12px;
}

/* ///////////////////////////////toastify//////////////////////////////////////////////////// */
.Toastify__toast-container {
	top: 5em !important;

	right: 0.5em !important;
	width: 355px !important;
}
.Toastify__progress-bar {
	height: 8px !important;
}
.Toastify__toast-body {
	color: #0e0e0e !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	margin-top: 8px !important;
	font-size: 14px;
	letter-spacing: 0px;
	padding-bottom: 16px;
	line-height: 20px;

	opacity: 1;
}
.Toastify__progress-bar--success {
	background-color: #24a148 !important;
}
.Toastify__progress-bar--info {
	background-color: #0043ce !important;
}
.Toastify__progress-bar--error {
	background-color: #da1e28 !important;
}
.Toastify__progress-bar--warning {
	background-color: #f1c21b !important;
}

.Toastify__toast--success {
	min-height: 48px !important;
	background: #e9f6ed !important;
	border: 1px solid #a7d9b6;
	opacity: 1 !important;
}
.Toastify__toast--error {
	min-height: 48px !important;
	background: #fbe9ea !important;
	border: 1px solid #f4bcbf;
	opacity: 1 !important;
}
.Toastify__toast--info {
	min-height: 48px !important;
	background: #e6ecfa !important;
	border: 1px solid #b3c7f0;
	opacity: 1 !important;
}
.Toastify__toast--warning {
	min-height: 48px !important;
	background: #fef9e8 !important;
	border: 1px solid #f8e18d;
	opacity: 1 !important;
}
.Toastify__close-button {
	padding-right: 28px !important;
	color: #0e0e0e !important;
	width: 24px !important;
	height: 24px !important;
}

.sidenav {
	/* background-color: #ffffff !important;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3) !important; */
}
.ri-lgicon {
	font-size: 1.3333em;
	line-height: 1.01;
	vertical-align: -0.0667em;
}

.login-card {
	/* background-color: #ffffff !important;
	border-radius: 10px; */
	padding-left: 16px !important;
	padding-top: 16px;
	padding-right: 16px !important;
	padding-bottom: 16px;
	max-width: 100% !important;
}
.partners_name {
	color: #1e4688;
	cursor: pointer;
}
.partners_name:hover {
	color: #ee2e2d;
	text-decoration: underline;
	cursor: pointer;
}
.box_style {
	background-color: white;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 rgba(31, 39, 55, 0.1);
}
.modal_header{
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color:#41506b;
}
.modal_text{
	font-size: 16px;
	font-weight: 500;
	color: black;
}